 * {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }

 body {
     color: #333;
     line-height: 1.6;

 }

 .container {
     display: flex;
     flex-direction: column;
     min-height: 100vh;
 }

 header {
     background-color: #011426;
     color: white;
     padding: 1rem 2rem;
     display: flex;
     justify-content: space-between;
     align-items: center;
     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
 }

 header h1 {
     font-size: 1.5rem;
     display: flex;
     align-items: center;
     gap: 0.5rem;
 }

 .user {
     color: #015287;
 }

 .header-controles {
     display: flex;
     align-items: center;
     gap: 1rem;
 }

 .search-container {
     display: flex;
     align-items: center;
 }

 #search-input {
     padding: 0.5rem 1rem;
     border: 2px solid #d1e7f5;
     border-radius: 4px 0 0 4px;
     outline: none;
     width: 250px;
 }

 .btn {
     padding: 0.5rem 1rem;
     border: none;
     border-radius: 4px;
     cursor: pointer;
     font-weight: 500;
     display: inline-flex;
     align-items: center;
     gap: 0.5rem;
     transition: all 0.3s ease;
 }

 .btn-primary {
     background-color: #053f65;
     color: white;
 }

 .btn-primary:hover {
     background-color: #2c6991;
     color: white;
 }

 .btn-secondary {
     background-color: #95a5a6;
     color: white;
 }

 .btn-secondary:hover {
     background-color: #7f8c8d;
     color: white;
 }

 .btn-danger {
     background-color: #e74c3c;
     color: white;
 }

 .btn-danger:hover {
     background-color: #c0392b;
     color: white;
 }

 .btn-search {
     background-color: #053d62;
     color: white;
     border-radius: 0 4px 4px 0;
     padding: 0.8rem 1rem;
 }

 .btn-search:hover {
     background-color: #2980b9;
 }

 .content {
     display: flex;
     flex: 1;
 }

 .sidebar {
     width: 250px;
     color: white;
     background-color: #020c3a;
     padding: 1rem 0;
 }

 .sidebar h3 {
     color: #51aeed;
     font-size: 15px;
     text-transform: uppercase;
     display: flex;
     justify-content: flex-start;
     flex: 1;
     margin: 0.50rem 2rem;
     transition: all 0.3s ease;

 }

 .sidebar nav ul {
     list-style: none;
 }

 .sidebar nav ul li {
     padding: 0.74rem 1.5rem;
     cursor: pointer;
     display: flex;
     align-items: center;
     gap: 0.75rem;
     transition: all 0.3s ease;
 }

 .sidebar nav ul li:hover {
     background-color: #2c3e50;
 }

 .sidebar nav ul li.active {
     background-color: #024b7b;
 }

 /* main content  */
 main {
     flex: 1;
     padding: 1.5rem;
 }

 /* .section {
     display: none;

 } */

 .section.active {
     display: block;
 }

 .section-active h2 {
     color: #022943;
     margin: 1rem;
     font-size: 18px;
 }

 .section-active h2 i {
     color: #022943;

 }

 .section-header {
     display: flex;
     align-items: center;
     justify-content: space-between;
     margin-bottom: 1.5rem;
 }

 .section-header h2 {
     display: flex;
     align-items: center;
     grid-area: 0.5rem;
     color: #2c3e50;
 }

 .section.actions {
     display: flex;
     gap: 0.5rem;
 }

 .dashboard-cards {
     display: grid;
     grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
     gap: 1rem;
     margin-bottom: 2rem;
 }

 .card {
     border-radius: 8px;
     padding: 1.5rem;
     box-shadow: 0 2px 4 px rgba(0, 0, 0, 0.05);
     text-align: center;
     position: relative;
     overflow: hidden;
     color: white;
 }

 .card h3 {
     font-size: 1rem;
     margin-bottom: 0.5rem;
     position: relative;
     z-index: 1;
 }

 .card p {
     font-size: 1.75rem;
     font-weight: bold;
     margin-bottom: 0.5rem;
     position: relative;
     z-index: 1;
 }

 .card-icon {
     position: absolute;
     right: 1rem;
     bottom: 1rem;
     font-size: 2.5rem;
     opacity: 0.3;
     z-index: 2;
     color: #f3f5f7;
 }

 .card-blue {
     background: linear-gradient(135deg, #00c6ff 0%, #021a38 100%);
 }

 .card-green {
     background: linear-gradient(135deg, #00c6ff 0%, #4c9af9 100%);
 }

 .card-purple {
     background: linear-gradient(135deg, #68d4f1 0%, #95bae8 100%);
 }

 .card-red {
     background: linear-gradient(135deg, #d1e4e9 0%, #0766da 100%);
 }

 .card-orange {
     background: linear-gradient(135deg, #47caee 0%, #506d91 100%);
 }

 .recent-activity {
     background-color: white;
     border-radius: 8px;
     padding: 1.5rem;
     box-shadow: 0px 2px 2px rgba(42, 41, 41, 0.5);
 }

 .recent-activity h3 {
     margin-bottom: 1rem;
     color: #2c3e50;
 }

 #activity-list {
     list-style: none;
 }

 #activity-list li {
     padding: 0.75rem;
     border-bottom: 1px solid #eee;
     display: flex;
     align-items: center;
     gap: 0.75rem;
 }

 #activity-list li :last-child {
     border-bottom: none;
 }

 /* Table Style  */
 .table-container {
     overflow-x: auto;
     margin-bottom: 1rem;
     border-radius: 8px;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
 }

 table {
     width: 100%;
     border-collapse: collapse;
     background-color: white;
 }

 th,
 td {
     padding: 0.75rem 1rem;
     text-align-last: left;
     border-bottom: 1px solid #eee;
 }

 th {
     background-color: #3498db;
     color: white;
     font-weight: 500;
 }

 tr:hover {
     background-color: #f5f7fa;
 }

 .status-badge {
     padding: 0.25rem 0.5rem;
     border-radius: 4px;
     font-size: 0.75rem;
     font-weight: 400;
 }

 .status-terminated {
     background-color: #f8d7da;
     color: #721c24;
 }

 .status-badge-approved {
     background-color: #d4edda;
     color: #115724;
 }

 .status-badge-pending {
     background-color: #fff3cd;
     color: #856404;
 }

 .status-badge-rejected {
     background-color: #f8d7da;
     color: #721c24;
 }

 .status-active {
     background-color: #d4edda;
     color: #155724;
 }

 .status-on-leave {
     background-color: #fff3cd;
     color: #856404;
 }

 .status-badge-paid {
     background-color: #d4edda;
     color: #155724;
 }

 .action-btns {
     display: flex;
     gap: 0.5rem;
 }

 .action-btn {
     background-color: none;
     border: none;
     cursor: pointer;
     color: #7f8c8d;
     transition: color 0.3s all;
 }

 .action-btn:hover {
     color: #3498db;
 }

 .action-btns .btn-danger {
     background-color: #e74c3c;
     color: white;
     padding: 0.25rem 0.5rem;
     border-radius: 4px;
     font-size: 0.75rem;
 }

 .action-btns .btn-danger:hover {
     background-color: #c0392b;
 }
  /* Pagination  */